# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
.venv/
venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/

# Secrets / config
*.env
.env.*
.env

# Data & models (if large / private)
data/Resume.csv
data/Resume_cleaned.csv
data/Resume_preprocessed.csv
data/job_descriptions/*
models/*.npy

# Notebooks checkpoints
.ipynb_checkpoints/

notes1.md
